<div id="blueHeader"><p>Rick and Morty</p></div>
<div id="grayHeader"><h1>Rick and Morty episodes!</h1></div>

<div class="episodes">
  <div *ngFor ="let episode of episodes">

        <div class="episode">
          <h3>{{episode.name}}</h3>
         <p>Air date: {{episode.air_date}}</p>
          <p>Episode: {{episode.episode}}</p>

          <p> <a routerLink="/characters/{{episode.id}}"> Episode details </a></p>
        </div>
  </div>
</div>


<mat-paginator
               [pageSize]="2"
               aria-label="Select page">
</mat-paginator>




